# --- Macos Specific
.DS_Store

# --- Hardware datasheets (copyright restrictions)
hardware/Datasheets/

# --- Sphinx documentation
docs/_build/

*.log
*.state.json
Tinymovr.code-workspace
.aider*
.env
