include README.md
include tinymovr/resources/icons/call.png
include tinymovr/resources/icons/call_dark.png
include tinymovr/resources/icons/call@2x.png
include tinymovr/resources/icons/call_dark@2x.png
include tinymovr/resources/icons/empty.png
include tinymovr/resources/icons/empty@2x.png
include tinymovr/resources/icons/empty_dark.png
include tinymovr/resources/icons/empty_dark@2x.png
include tinymovr/specs/tinymovr_1_3_x.yaml
include tinymovr/specs/tinymovr_1_4_x.yaml
include tinymovr/specs/tinymovr_1_5_x.yaml
include tinymovr/specs/tinymovr_1_6_x.yaml
include tinymovr/specs/dfu_1_0_x.yaml
include tinymovr/specs/dfu_1_1_x.yaml
